PyQt5==5.15.6
ezdxf==0.17.2
cavaliercontours-python==0.0.1
PyOpenGL==3.1.5
Pillow==9.0.1
Hershey-Fonts==2.1.0
svgpathtools==1.5.1
pyclipper==1.3.0

# for gcode-preview.py display
pygame==2.1.2
meshcut==0.3.0
