pip-tools==6.8.0
pytest==6.2.5
pytest-cov==3.0.0
flake8==4.0.1
black==22.3.0
pylint==2.14.4
mypy==0.941
markdown==3.3.7
pdoc==14.1.0
isort==5.10.1
stdeb==0.10.0
twine==4.0.2
appimage-builder==1.1.0
ruff==0.0.246
